.register-bg{
  background: #ffffff;
  background: linear-gradient(329deg, rgba(255, 255, 255, 1) 0%, rgba(255, 245, 245, 1) 62%, rgba(255, 238, 237, 0.97) 100%);
  padding: 30px 20px 0 20px;
  height: 100vh;






}
